body {
  /* background-color: #000000; */
  font: 18px/1 Helmet,Freesans,sans-serif
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  visibility: visible;
  display: block;
}

.expand-btn button {
  background-color: #08804c;
}

/* Row & Column */
.row {
  display: flex;
  width: 100%;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;
  border-style: double;
  border-color: #ffd700;
  border-width: medium;
}

.column img {
  width: 100%;
  height: auto;
}

.column button {
  width: 100%;
  height: auto;
}

/* Macro Elements */
/*
.macro-button {
  background-color: #7f0000;
}
*/