body {
  background-color: #000000;
  font: 18px/1 Helmet,Freesans,sans-serif
}

.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  visibility: visible;
  display: block;
}

/* Row & Column */
.row {
  display: flex;
  width: 100%;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;
  /*
  border-style: double;
  border-color: #ffd700;
  border-width: medium;
  */
  text-align: center;
  margin-left: 1em;
  margin-right: 1em;
}

.column img {
  width: 100%;
  height: auto;
}

.column button {
  width: 100%;
  height: auto;
}

/* Macro Elements */
/*
.macro-button {
  background-color: #7f0000;
}
*/

.letter {
  margin: 1em;
  background-color: #fdfdfd;
  color: #000000;
}

.letter-text {
  padding: 3em 2em;
  margin: 1em;
}

.instructions {
  border-style: solid;
  border-color: #FF10F0;
  border-width: medium;
}

.instructions h1 {
  color: #1FFF0F;
}

.instructions {
  color: #FFF01F
}

/* Neon */
/* can't get the itch embed to use it, so eeeeeeehhhEEEEHHHHHHHH @font-face {
  font-family: title;
  src: url(/html/fonts/hello-denver-display-regular.ttf);
} */

.game-title {
  /* font-family: title; */
  font-size: 3em; /* 18 * 3 */
  color: #ffffff;
  text-align: center;
  text-shadow:
  .05em -.05em .4em #ff5f1f7e, .05em -.05em .2em #FF5F1F,
  .05em .05em .4em #ff5f1f7e, .05em .05em .2em #FF5F1F,
  -.05em -.05em .4em #ff5f1f7e, -.05em -.05em .2em #FF5F1F,
  .05em .05em .4em #ff5f1f7e, .05em .05em .2em #FF5F1F;
  border-width: .075em;
  border-radius: .25em;
  border-style: solid;
  border-color: #ffffff;
  box-shadow:
  0 0 .4em .2em #FF5F1F7e, 0 0 .2em .1em #FF5F1F,
  inset 0 0 .4em .2em #FF5F1F7e, inset 0 0 .2em .1em #FF5F1F;
}

.passage-h1 {
  text-align: center;
  color: #ffffff;
  text-shadow:
  .05em -.05em .4em #1F51FF7e, .05em -.05em .2em #1F51FF,
  .05em .05em .4em #1F51FF7e, .05em .05em .2em #1F51FF,
  -.05em -.05em .4em #1F51FF7e, -.05em -.05em .2em #1F51FF,
  .05em .05em .4em #1F51FF7e, .05em .05em .2em #1F51FF
}

.passage-h2 {
  text-align: center;
  color: #ffffff;
  text-shadow:
  .05em -.05em .4em #FF10F07e, .05em -.05em .2em #FF10F0,
  .05em .05em .4em #FF10F07e, .05em .05em .2em #FF10F0,
  -.05em -.05em .4em #FF10F07e, -.05em -.05em .2em #FF10F0,
  .05em .05em .4em #FF10F07e, .05em .05em .2em #FF10F0
}

.neon-blue-text {
  color: #ffffff;
  text-shadow:
  .05em -.05em .4em #1F51FF7e, .05em -.05em .2em #1F51FF,
  .05em .05em .4em #1F51FF7e, .05em .05em .2em #1F51FF,
  -.05em -.05em .4em #1F51FF7e, -.05em -.05em .2em #1F51FF,
  .05em .05em .4em #1F51FF7e, .05em .05em .2em #1F51FF
}

.macro-button {
  width: 100%;
  background-color: #000000;
  border-width: .075em;
  border-radius: .25em;
  border-style: solid;
  border-color: #c0cdff;
  box-shadow:
  0 0 .4em .2em #1F51FF7e, 0 0 .2em .1em #1F51FF,
  inset 0 0 .4em .2em #1F51FF7e, inset 0 0 .2em .1em #1F51FF;
}

.neon-orange-text {
  color: #ffffff;
  text-shadow:
  .05em -.05em .4em #ff5f1f7e, .05em -.05em .2em #FF5F1F,
  .05em .05em .4em #ff5f1f7e, .05em .05em .2em #FF5F1F,
  -.05em -.05em .4em #ff5f1f7e, -.05em -.05em .2em #FF5F1F,
  .05em .05em .4em #ff5f1f7e, .05em .05em .2em #FF5F1F
}
